@import "fonts";

body {
     background: url("@img/gulp3.jpg") 0 0 no-repeat;
    font-size: 22px;
    font-family: ALGER;
    width: 50vw;
    margin: 50px auto;
    height: 50vh;
    text-align: center;
   
    span{
        color:rgb(161, 7, 141);
        line-height : 50px;
    }

}
@media (max-width:768px) {
    span{
        font-size: 26px;
    }
    
}
@media (max-width:768px) {
    span{
       background-color: red;
    }
    
}